html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

button,
img {
  display: block;
}

button {
  cursor: pointer;
}

.outer-container {
  max-width: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .inner-container {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .inner-container {
    max-width: 1288px;
  }
}

.header {
  background-color: #262626;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
}
@media screen and (min-width: 767px) {
  .header .header-container {
    padding: 10px 40px;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-left__logo {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 767px) {
  .header-left__logo {
    width: 70px;
    height: 70px;
  }
}
.header-left__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.42px;
}
@media screen and (min-width: 1199px) {
  .header-left__link {
    line-height: 20px;
    letter-spacing: -0.54px;
    font-size: 18px;
  }
}

.header-right .nav-menu {
  width: 100%;
  height: 100%;
}
.header-right .nav-menu__toggle {
  background: transparent;
  border: none;
  width: 24px;
  height: 16px;
}
@media screen and (min-width: 767px) {
  .header-right .nav-menu__toggle {
    width: 30px;
    height: 20px;
  }
}
@media screen and (min-width: 1199px) {
  .header-right .nav-menu__toggle {
    display: none;
  }
}
.header-right .nav-menu__close {
  background: transparent;
  border: none;
}
.header-right .nav-menu__icon {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 210;
  fill: #ffffff;
  display: none;
}
@media screen and (min-width: 767px) {
  .header-right .nav-menu__icon {
    width: 40px;
    height: 40px;
  }
}
.header-right .header-right-list {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
}
@media screen and (min-width: 1199px) {
  .header-right .header-right-list {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    position: inherit;
  }
}
.header-right .header-right-list__link {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}
@media screen and (min-width: 767px) {
  .header-right .header-right-list__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1199px) {
  .header-right .header-right-list__link {
    font-size: 14px;
    text-decoration: none;
  }
}

.header-right-list.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  background-color: #262626;
  right: 0;
  z-index: 200;
}

.hero {
  background-color: #d2d8d6;
  background-image: linear-gradient(315deg, #d2d8d6 0%, #dce8e0 74%);
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

@media screen and (min-width: 700px) {
  .hero-content {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .hero-content {
    padding-left: 100px;
  }
}
.hero-content__title {
  color: #212121;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  max-width: 210px;
  margin-bottom: 5px;
}
@media screen and (min-width: 700px) {
  .hero-content__title {
    max-width: 270px;
  }
}
.hero-content__paragraph {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  max-width: 210px;
}
@media screen and (min-width: 700px) {
  .hero-content__paragraph {
    max-width: 270px;
  }
}

.hero-decoration {
  margin-bottom: 20px;
}
.hero-decoration__package {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50px;
  right: 15px;
  transform: rotate(35deg);
}
@media screen and (min-width: 400px) {
  .hero-decoration__package {
    width: 90px;
    height: 90px;
  }
}
@media screen and (min-width: 500px) {
  .hero-decoration__package {
    width: 120px;
    height: 120px;
    top: 40px;
  }
}
@media screen and (min-width: 600px) {
  .hero-decoration__package {
    width: 150px;
    height: 150px;
    top: 10px;
  }
}
@media screen and (min-width: 700px) {
  .hero-decoration__package {
    right: 100px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-decoration__package {
    right: 200px;
    top: 5px;
  }
}
.hero-decoration__truck {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 110px;
  right: 10px;
  transform: rotate(-25deg);
}
@media screen and (min-width: 400px) {
  .hero-decoration__truck {
    width: 90px;
    height: 90px;
    top: 120px;
  }
}
@media screen and (min-width: 500px) {
  .hero-decoration__truck {
    width: 120px;
    height: 120px;
    top: 140px;
  }
}
@media screen and (min-width: 600px) {
  .hero-decoration__truck {
    width: 150px;
    height: 150px;
    top: 125px;
  }
}
@media screen and (min-width: 700px) {
  .hero-decoration__truck {
    right: 100px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-decoration__truck {
    right: 380px;
    top: 90px;
  }
}

.hero-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 700px) {
  .hero-buttons {
    padding-left: 50px;
    width: 280px;
  }
}
@media screen and (min-width: 1000px) {
  .hero-buttons {
    padding-left: 100px;
  }
}
.hero-buttons__btn {
  background-color: silver;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  color: #333;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
}
.hero-buttons .yellow {
  background-color: gold;
}

.advantages {
  padding: 30px 0;
}
.advantages__title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 767px) {
  .advantages__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1199px) {
  .advantages {
    padding: 60px 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 767px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1240px) {
  .advantages-list {
    max-width: inherit;
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
.advantages-list__item {
  background-color: #ddd;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  padding: 10px;
}
@media screen and (min-width: 1199px) {
  .advantages-list__item {
    padding: 15px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 767px) {
  .advantages-list__item:nth-child(1) {
    max-width: inherit;
  }
}
@media screen and (min-width: 1199px) {
  .advantages-list__item:nth-child(1) {
    max-width: 400px;
  }
}
.advantages-list__img {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1199px) {
  .advantages-list__img {
    width: 50px;
    height: 50px;
  }
}
.advantages-list__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 1199px) {
  .advantages-list__paragraph {
    font-size: 16px;
    letter-spacing: -0.54px;
  }
}

.about {
  background: linear-gradient(135deg, #ededed 2.34%, #c4c4c4 97.59%);
  padding: 30px 0;
  margin: 0 20px;
  border-radius: 20px;
}
@media screen and (min-width: 767px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .about-img {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1199px) {
  .about-img {
    padding-left: inherit;
  }
}
.about-img__img {
  margin-bottom: 20px;
  width: 270px;
  height: 180px;
}
@media screen and (min-width: 375px) {
  .about-img__img {
    width: 300px;
    height: 200px;
  }
}
@media screen and (min-width: 1199px) {
  .about-img__img {
    width: 500px;
    height: 300px;
  }
}

.about-content {
  padding: 0 30px;
}
.about-content__title {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-content__paragraph {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 767px) {
  .about-content__paragraph {
    max-width: 400px;
  }
}
@media screen and (min-width: 1199px) {
  .about-content__paragraph {
    max-width: 500px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.72px;
  }
}

.gallery {
  padding: 30px 0;
  border-radius: 20px;
}
@media screen and (min-width: 1199px) {
  .gallery {
    padding: 60px 0;
  }
}
.gallery__title {
  text-align: center;
  margin-bottom: 10px;
  color: #111;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media screen and (min-width: 1199px) {
  .gallery__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
  }
}

.gallery-list {
  display: flex;
  gap: 5px;
  overflow: scroll;
}
@media screen and (min-width: 1199px) {
  .gallery-list {
    gap: 10px;
  }
}
.gallery-list__img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
@media screen and (min-width: 1199px) {
  .gallery-list__img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
}

.tariffs {
  background-color: gold;
  margin: 0 20px;
  border-radius: 20px;
  padding: 30px 0;
}
@media screen and (min-width: 767px) {
  .tariffs {
    padding: 40px 0;
  }
}
.tariffs__title {
  color: #111;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  margin-bottom: 30px;
}

.tariffs-list {
  display: flex;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
}
.tariffs-list__item {
  background-color: #fff;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  padding: 15px 15px;
}
.tariffs-list__item .tariffs-list-item__img {
  width: 20px;
  height: 20px;
}
.tariffs-list__item__paragraph {
  color: rgba(17, 17, 17, 0.7019607843);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}/*# sourceMappingURL=main.css.map */