.contacts {
  background: linear-gradient(135deg, #ededed 2.34%, #c4c4c4 97.59%);
  padding: 30px 0;
  margin: 0 20px;
  border-radius: 20px;

  &__title {
    color: #111;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }

  &__paragraph {
    color: #464646;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__name {
    text-align: center;
    color: #111;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
  }

  &__number {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: center;
    text-decoration: underline;
  }
}

.contaсts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin: 30px 0;
  @media screen and (min-width: 767px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  &__img {
    width: 40px;
    height: 40px;
  }
}

.contacts-join {
  background-color: silver;
  border-radius: 20px;
  padding: 20px;
  .contacts-join-images {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  &__paragraph {
    text-align: center;
    color: #111;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
  }
}
